body{
  text-align: center;
  background-color: rgb(207, 223, 238);
}
input{
  border-radius: 5px;
  border: 0;
  text-align: center;
}
button{
  border-radius: 5px;
  margin-left: 5px;
  border: 0;
}